
# ---------------------------------------------------------------------------- #
#                              VISUAL STUDIO CODE                              #
# ---------------------------------------------------------------------------- #

*.vscode/



# ---------------------------------------------------------------------------- #
#                                    ECLIPSE                                   #
# ---------------------------------------------------------------------------- #

# -------------------------- Main Files and Folders -------------------------- #

.project
.metadata
.classpath
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
/target/


# -------------------------- External Tools Builders ------------------------- #

.externalToolBuilders/


# ----------------------- Eclipse Launch Configurations ---------------------- #

*.launch


# -------------------------------- Python IDE -------------------------------- #

*.pydevproject


# ------------------------- C/C++ Development Tooling ------------------------ #

.cproject


# ------------------------------ CDT- Autotools ------------------------------ #

.autotools


# ------------------------- Java Annotation Processor ------------------------ #

.factorypath


# --------------------------- PHP Development Tools -------------------------- #

.buildpath


# ----------------------------- SBTEclipse Plugin ---------------------------- #

.target


# -------------------------------- Tern Plugin ------------------------------- #

.tern-project


# ------------------------------ TeXlipse Plugin ----------------------------- #

.texlipse


# ----------------------------- Spring Tool Suite ---------------------------- #

.springBeans


# ----------------------------- Code Recommenders ---------------------------- #

.recommenders/


# --------------------------- Annotation Processing -------------------------- #

.apt_generated/
.apt_generated_test/


# ------------------------- Scala & Java Development ------------------------- #

.cache-main
.scala_dependencies
.worksheet


# ---------------------------- Spring Boot Tooling --------------------------- #

.sts4-cache/



# ---------------------------------------------------------------------------- #
#                                     JAVA                                     #
# ---------------------------------------------------------------------------- #


# ------------------------------ Compiled Class ------------------------------ #

*.class


# ----------------------------------- Logs ----------------------------------- #

*.log


# -------------------------------- BlueJ Files ------------------------------- #

*.ctxt


# ---------------------------- Mobile Tools (J2ME) --------------------------- #

.mtj.tmp/


# ------------------------------- Package Files ------------------------------ #

*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar


# -------------------------------- Crash Logs -------------------------------- #

hs_err_pid*
replay_pid*



# ---------------------------------------------------------------------------- #
#                                     NODE                                     #
# ---------------------------------------------------------------------------- #

# ----------------------------------- Logs ----------------------------------- #

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*


# ---------------------------- Diagnostic Reports ---------------------------- #

report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json


# ------------------------------- Runtime Data ------------------------------- #

pids
*.pid
*.seed
*.pid.lock


# ----------------------------- Instrumented Libs ---------------------------- #

lib-cov


# ---------------------------- Coverage Directory ---------------------------- #

coverage
*.lcov


# ----------------------------- NYC Test Coverage ---------------------------- #

.nyc_output


# ------------------------ Grunt Intermediate Storage ------------------------ #

.grunt


# ----------------------------- Bower Dependency ----------------------------- #

bower_components


# ------------------------------------ WAF ----------------------------------- #

.lock-wscript


# ----------------------------- Compiled  Addons ----------------------------- #

build/Release


# -------------------------------- Dependency -------------------------------- #

node_modules/
jspm_packages/


# ---------------------------- Snowpack Dependency --------------------------- #

web_modules/


# ----------------------------- TypeScript Cache ----------------------------- #

*.tsbuildinfo


# --------------------------------- NPM Cache -------------------------------- #

.npm


# ------------------------------- ESLint Cache ------------------------------- #

.eslintcache


# ------------------------------ Stylelint Cache ----------------------------- #

.stylelintcache


# ----------------------------- Microbundle Cache ---------------------------- #

.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/


# ------------------------------- REPL History ------------------------------- #

.node_repl_history


# --------------------------------- NPM Pack --------------------------------- #

*.tgz


# ------------------------------ Yarn Integrity ------------------------------ #

.yarn-integrity


# ---------------------------- Dotenv Environment ---------------------------- #

.env
.env.development.local
.env.test.local
.env.production.local
.env.local


# -------------------------- Parcel - Bundler Cache -------------------------- #

.cache
.parcel-cache


# -------------------------------- Next Build -------------------------------- #

.next
out


# -------------------------------- Nuxt Build -------------------------------- #

.nuxt
dist

# ---------------------------------- Gatsby ---------------------------------- #

.cache/


# ------------------------------ VuePress Build ------------------------------ #

.vuepress/dist


# ----------------------- VuePress v2.x Temp - Cache ----------------------- #

.temp


# ----------------------------- Docusaurus Cache ----------------------------- #

.docusaurus


# -------------------------------- Serverless -------------------------------- #

.serverless/


# ------------------------------- FuseBox Cache ------------------------------ #

.fusebox/


# --------------------------------- DynamoDB --------------------------------- #

.dynamodb/


# -------------------------------- TernJS Port ------------------------------- #

.tern-port


# ---------------------------------- Yarn v2 --------------------------------- #

.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*


# ---------------------------- Serverless Webpack ---------------------------- #

.webpack/


# ------------------------------ SvelteKit Build ----------------------------- #

.svelte-kit